<form class="well" (submit)='addComputer($event)'>
    <div class="form-group">
        <input typet="text" class="form-control" [(ngModel)]='computer' name='computer' placeholder="Add computer">
    </div>

    <div class="task-list">
        <div *ngFor="let task of tasks">
        <div class="col-md-1">
            <input type="checkbox">
        </div>
        <div class="col-md-7">
           {{task.title}}
        </div>
        <div class="col-md-4">
               <input type="button" value="Delete" class="btn btn-danger">
        </div>
    </div>