<h1>Profiles</h1>



	
<!-- <div >
	<chat *ngFor="let profile of profiles">
	</chat>

</div> -->

	<div *ngFor="let profile of profiles">
		<!-- <a [routerLink]="['/profiles', profile._id]">{{profile.title}}</a>
		<br>
		
		<p>Name:    {{profile.firstName}} {{profile.lastName}}</p>
		
		<input type="button" value="Open Chat"/>
		<img src="{{profile.image}}" width="50px" height="50px"/> -->

		<div [style.borderColor]="black">
			
			<div class="card w-75"  [style.borderColor]="black">
				<img class="card-img-top" src="{{profile.image}}" width="200px" height="100px">
				<div class="card-block">
				  <h4 class="card-title" class="text-left" [routerLink]="['/profiles', profile._id]"> {{profile.firstName}} {{profile.lastName}}</h4>
				  <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
				  <p class="card-text"> {{profile.description}} </p>
				  <p>Age:     {{profile.age}}</p>
				  <p>Height:  {{profile.height}}</p>
				  <p>Hobbies: {{profile.hobbies}}</p>
				
				  <button type="button" value="Open Chat" class="btn btn-primary" (click)="openChat(profile._id)">Open Chat</button>
				  <button type="button" value="View" class="btn btn-primary" (click)="delete(profile._id)">Delete</button>
				  
				</div>
			</div>
	
			<br>
			<br>
		</div>
	</div>
	


<div *ngIf="profile && profile.length === 0">
	No profiles yet, why don't you <a [routerLink]="['/profile/createProfile']">create one</a>? 
</div>


