<style>
    .my-drop-zone { border: dotted 3px lightgray; }
   .nv-file-over { border: dotted 3px red; } /* Default class applied to drop zones on over */
   .another-file-over-class { border: dotted 3px green; }

   html, body { height: 100%; }
   </style>


<h1>Profile</h1>
<form (ngSubmit)="save()" novalidate>
   <div>
       <label for="First Name">First Name</label>
       <div>
           <input type="text" required [(ngModel)]="profile.firstName" name="firstName" placeholder="">
       </div>
   </div>
   <div>
       <label for="Last Name">Last Name</label>
       <div>
           <input type="text" required cols="30" [(ngModel)]="profile.lastName" name="lastName" placeholder="">
       </div>
   </div>
   <div>
    <label for="Description">Description</label>
    <div>
        <input type="text" [(ngModel)]="profile.description" name="description" placeholder="">
    </div>
   </div>
   <div>
    <label for="Age">Age</label>
    <div>
        <input type="number" [(ngModel)]="profile.age" name="age" placeholder="">
    </div>
</div>
<div>
    <label for="Height">Height</label>
    <div>
        <input type="number" required cols="30" [(ngModel)]="profile.height" name="height" placeholder="">
       </div>
</div>
<div>
    <label for="Hobbies">Hobbies</label>
    <div>
        <input type="text" required cols="30" [(ngModel)]="profile.hobbies" name="hobbies" placeholder="">
    </div>
</div>
<div>
<input type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." />
</div>
   <div>
       <input type="submit" content="save">
   </div>
</form>